{% extends "layout.html" %}

{% block heading %}
Login
{% endblock %}

{% block body %}
  <div class="container p-5">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 25rem; margin: auto;">
      <div class="card-body">
        <form action="{{ url_for('login') }}" method="post" id="login">
          <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" name="username" id="username">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password">
          </div>
            {% if invalid %}
            <span class="text-danger">invalid credentials</span>
            {% endif %}
          <div class="mt-4 d-flex">
            <button type="submit" class="col-7 btn btn-primary">Sign in</button>
            <a href="/register" class="col-4 btn btn-warning ml-auto" role="button">Sign up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(()=>{
      $('#login').validate({
        rules: {
          username:{
            required: true,
          },
          password: {required: true}
        }
      })
    })
  </script>
{% endblock %}
